<!--The content below is only a placeholder and can be replaced.-->
<body>
  <h1 style="color: purple"> Welcome to this DEMO! </h1>
  <hr>
  <hr>
  <app-my-new-component>This text won't SHOW</app-my-new-component>
  <hr>
  <hr>
  <app-ng-for-test> For Test </app-ng-for-test>
  <hr>
  <hr>
  <app-ng-if-test> If Test</app-ng-if-test>
  <hr>

  <hr>
  <app-properybinding>Property_Binding</app-properybinding>
  <hr>
  <hr>
  <app-eventbinding>Event_Binding</app-eventbinding>
  <hr>
  <hr>
  <app-css-check>CSS_Check</app-css-check>
  <hr>
  <hr>
  <app-class-binding>Class_Binding</app-class-binding>
  <hr>
  <hr>
  <app-style-binding>Style_Binding</app-style-binding>

</body>

