<div id="outer-div">
    <div id="first">
        <img src = "{{myImage}}" style="height:250px ; width:350px; border-radius: 40px;" >
    </div>
    <div id="second">
        <span>HA HA HA HA</span>
    </div>
    <div id="third">
        <img [src] = "myImage" style="height:250px ; width:350px; border-radius: 40px;" id="secondImage">
    </div>
    
    
        <!-- <img bind-src = "myImage" style="height:250px ; width:350px; border-radius: 40px;"> -->
    <br>
</div>
    <button [disabled] = "buttonStatus">Button</button>
