#outer-div  {
    display:flex;
    background-color: rgb(137, 184, 91);
}

#secondImage    {
    float:right;
}
#first  {
    flex: 1; 
    width: 20%;
    float: left;
}
#second  {
    flex: 1;
    width: 60%;
    float: left;
    position: relative;
}
#third  {
    flex: 1;    
    width: 20%;
    float: left;
  
}
span{
    color: slateblue;
    position: absolute;
    right: 120px;
    top:100px;
    font-weight: bold;
    font-size: 40px;
}