.red-color  {
    color:red;
}
.underline  {
    text-decoration: underline;
}
.center-align   {
    text-align: center;
}
.right-align    {
    text-align: right;
}
.not-right-align    {
    text-align: right;
}